<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbm.haeboomi">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".StudentMainActivity"/>
        <activity android:name=".CalendarActivity"/>
        <activity android:name=".Tab_TimeSettingActivity"/>
        <activity android:name=".Tab_StudentVPActivity"/>
        <activity android:name=".Tab_TimeTableActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainSplash" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity android:name=".Tab_ProfessorVPActivity" />
        <activity android:name=".pfTimetable" />
        <activity android:name=".Tab_ClassSettingActivity" />
        <activity android:name=".Check_state" />
        <activity android:name=".CheckATNum" />
        <activity android:name=".CheckLTNum" />
        <activity android:name=".CheckRTNum" />
        <activity android:name=".ProfessorMainActivity" />
    </application>

</manifest>
